.c1{background-color: blueviolet;
}
.c2{background-color: rgb(43, 226, 134);
}
.c3{background-color: rgb(155, 139, 199);
}
.c4{background-color: rgb(226, 192, 43);
}
.c5{background-color: rgb(43, 198, 226);
}
.c6{background-color: rgb(20, 37, 190);
}
.c7{background-color: rgb(43, 226, 119);
}
.c8{background-color: rgb(22, 5, 37);
}
.c9{background-color: rgb(226, 43, 43);
}
.c10{background-color: rgb(142, 153, 45);
}